<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>483909118448-8cldr5rg7096nd4n80qpe380vnb045go.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.483909118448-8cldr5rg7096nd4n80qpe380vnb045go</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>483909118448-5b52qvb63mq50o5lv45j3enhus61rg9v.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAtoRN1NFzXt0Sh6LYJ3_-y5tfm3pa7UAE</string>
	<key>GCM_SENDER_ID</key>
	<string>483909118448</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.trainpalestra.palestra</string>
	<key>PROJECT_ID</key>
	<string>palestra-fitness-955cc</string>
	<key>STORAGE_BUCKET</key>
	<string>palestra-fitness-955cc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:483909118448:ios:849458b471e849067c5535</string>
</dict>
</plist>